// Header
.header {
  background-color: transparent;
  height: 60px;
  padding: 10px 0px;

  .account {
    display: flex !important;
    align-items: center !important;

    .davatar {
      margin-right: 7px;
    }
  }

  > div {
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 1100px;
    margin: 0px auto;

    div {
      display: inline-block;
      height: 60px;
      vertical-align: top;

      button {
        display: flex;
        align-items: center;
        padding: 0rem 1.6rem;
        height: 50px;
        font-size: 15px;
        font-weight: bold;
        transition: 0.2s ease-in, color 0.2s ease-in;
        background-color: #fd79a8;
        background-image: linear-gradient(
          117deg,
          rgba(245, 26, 133, 0.9) 0%,
          rgba(255, 94, 157, 0.9) 73%,
          rgba(236, 96, 188, 0.9) 99%
        );
        color: #fff;
        border: 1px solid rgba(20, 21, 24, 0.45);
        border-radius: 3px;
        margin-top: 5px;
        float: right;
        cursor: pointer;

        span {
          display: inline-block;
          vertical-align: middle;
        }

        svg {
          display: inline-block;
          vertical-align: middle;
          padding-left: 10px;
          height: 17px;
          width: 17px;

          path {
            fill: #fff;
            transition: fill 0.2s ease-in;
          }
        }
      }

      button:hover {
        background: transparent;
        border: 1px solid #e84393;
        color: #fff;

        path {
          fill: #fff;
        }
      }

      button:focus {
        outline: none;
      }
    }

    div:nth-of-type(2) {
      width: calc(100% - 350px);
      text-align: right;

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
          display: inline-block;
          margin: 20px 12px;

          a {
            font-weight: light;
            font-size: 15px;
            color: #fff;
            text-decoration: none;
            padding-bottom: 0.2rem;
            transition: padding 0.2s ease;
          }

          a:hover {
            color: #ff6fcd;
            padding-bottom: 0.5rem;
          }
        }
      }
    }

    div:nth-of-type(3) {
      position: relative;
      width: 200px;

      button {
        position: absolute;
        right: 0;
      }
    }

    div:nth-child(4) {
      display: none;
      position: absolute;
      right: 20px;
      top: 30px;
    }

    div:nth-child(5) {
      position: absolute;
      background-color: #070a0e;
      width: calc(100vw - 40px);
      padding: 0px 20px;
      left: 0px;
      top: 80px;
      height: calc(100vh - 80px);
      z-index: 999;
      text-align: center;

      ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
          margin: 50px 0px;

          a {
            text-decoration: none;
            color: white;
            font-size: 20px;
          }
        }

        li:last-child {
          margin-bottom: 100px;
        }
      }

      button {
        float: none;
        height: 38px;
        width: 170px;
        margin: 0;
      }
    }
  }
}

// Mobile menu states
.mobileMenuOpen {
  display: initial !important;
}

.mobileMenuHidden {
  display: none !important;
}

// Logo override
.logo {
  align-items: center;
  cursor: pointer;
  display: flex !important;
  justify-content: space-between;
  width: 170px !important;

  h4 {
    margin-right: 10px;
    font-family: "Inter Bold";
    font-size: 22px;
    line-height: 28px;
    color: white;
  }
}

.logo:hover {
  opacity: 0.75;
}

// Active navigation link override
.active {
  /*color: #ff6fcd !important; */
  border-bottom: 2px solid #ff6fcd;
}

// Content
.content {
  background-color: transparent;
}

// Footer
.footer {
  background-color: #070a0e;
  height: 185px;

  > div {
    max-width: 1100px;
    width: calc(100% - 40px);
    padding: 0px 20px;
    margin: 0px auto;
    text-align: center;

    span:nth-of-type(1) {
      padding-top: 40px;
    }

    span {
      display: block;
      color: rgb(170, 184, 193);
      font-size: 16px;
      padding: 5px 0px;

      a {
        color: inherit;
        border-bottom: 1px solid rgb(170, 184, 193);
        text-decoration: none;
      }

      a:hover {
        border-bottom: 1px solid #ff6fcd;
        color: #ff6fcd;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    > div {
      div:nth-child(2),
      div:nth-child(3) {
        display: none;
      }

      div:nth-child(4) {
        display: initial;
      }
    }
  }
}
